#generated buildproc
Makefile
Makefile.in
commons-io-2.3.jar
dom4j-1.6.1.jar
poi-3.8-20120326.jar
poi-ooxml-3.8-20120326.jar
poi-ooxml-schemas-3.8-20120326.jar
xmlbeans-2.3.0.jar

# remote resources
commons-io-2.3-bin.tar.gz
poi-bin-3.8-20120326.tar.gz
